{% extends 'base.html' %}
{% block title %}Team{% endblock title %}

{% block body  %}
<div class="text-bg-light p-3">
<div class="container text-center">
    <h1 class="display-1">TEAM</h1>
    <div class="row justify-content-center">
      <div class="col-4 ">
        <div class="card my-2" style="width: 18rem;">
            <img src="/static/team-1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">NAME:RABINDRA JOSHI<br>BACKEND</p>
            </div>
        </div>
     </div>
      <div class="col-4">
        <div class="card my-2" style="width: 18rem;">
            <img src="/static/team-2.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">NAME:SAHAYOG TIMALSINA<br>BACKEND</p>
            </div>
        </div>
      </div>
    </div>
</div>
<div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="card my-2" style="width: 18rem;">
            <img src="/static/team-1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">NAME:SAMIR POKHREL<br>MODEL TRAINER</p>
            </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card my-2" style="width: 18rem;">
            <img src="/static/team-2.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">NAME:SIDDHANT BHATTA<br>BACKEND</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body  %}